section#banner {
  position: relative;
  height: 400px;

  @media screen and (max-width: 600px) {
    height: auto;
    width: 100%;
    padding-bottom: percentage(400/600);
  }
  .image {
    position: absolute;
    @include size(100% 100%);
    @include retina-image('/images/banner', nil, 'jpg', '/images/banner_2x');
    background: {
      position: center center;
      repeat: no-repeat;
      size: cover;
    }
  }
}
